/* FF8BA7 - baker miller pink
#FFBFAD - melon
#FFF2B2 vanilla
#C8FACC - tea green
#AEE4FF -uranian blue
#1D1D1D - eerie black
#8E8C8C - batteleship grey
#FFFAFA - snow */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jersey+20&family=Notable&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

#navbar {
  background-color: #262626;
  padding: 15px 0 10px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}
#navbar .navlinks {
  display: flex;
  justify-content: flex-end;
  position: relative;
  z-index: 1000;
}

#navbar .navlinks a {
  background-color: transparent;
  color: #fffafa;
  text-transform: uppercase;
  font-family: "Jersey 20", serif;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 4rem;
  padding: 8px 14px;
  border: 1px solid #fffafa;
  border-width: 0 0 1px 0;
  transition: all 0.5s ease;
}
#navbar .navlinks a:hover {
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
  background-color: #fffafa;
  color: #1d1d1d;
  border: none;
}
#navbar .navlinks a.active {
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
  background-color: #fffafa;
  color: #1d1d1d;
  border: none;
}
#navbar .logo {
  padding-left: 7rem;
}
#navbar .logo a img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #fffafa;
  padding: 4px;
}
#menubar {
  display: none;
  cursor: pointer;
}
#menubar #lineone {
  width: 40px;
}
#menubar #linetwo {
  width: 30px;
}
#menubar #linethree {
  width: 15px;
}
#menubar #lineone,
#menubar #linetwo,
#menubar #linethree {
  margin-bottom: 3px;
  background-color: #fffafa;
  height: 5px;
  padding: 2px 4px;
  border: 1.5px solid #8e8c8c;
  transition: all 0.3s ease-in-out;
}
#portfoliocontent {
  background-color: #262626;
  padding-top: 5.5rem;
}
/* home page-------------------------------------------------- */
#home {
  color: #8e8c8c;
  padding: 20px 0 3rem 0;
}
#home .hello {
  text-align: center;
}

#home .hello h1 {
  color: #aee4ff;
  font-family: "Notable", serif;
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 25px 0 6px 0;
}

#homecontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homeimg {
  padding: 10px 20px;
  margin: 0 auto;
}

.homeimg .homeimage {
  background-color: #fff2b2;
  border: 1px solid #fafaff;
  margin: 10px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: rotatebackground 5s infinite ease-in-out;
}
@keyframes rotatebackground {
  0% {
    border-radius: 6rem 19rem 0rem 9rem;
  }
  25% {
    border-radius: 10rem 8rem 12rem 0rem;
  }
  50% {
    border-radius: 0rem 15rem 8rem 10rem;
  }
  75% {
    border-radius: 12rem 0rem 3rem 14rem;
  }
  100% {
    border-radius: 8rem 13rem 0rem 9rem;
  }
}
/* .zoom-image {
  width: 100%;
  height: auto;
  animation: zoomin 5s infinite;
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */
.homeimg .homeimage img {
  height: 300px;
  width: 300px;
}
.intro {
  width: 50%;
  margin: 0 auto;
  align-items: left;
  text-align: center;
}
.intro p {
  text-align: left;
  padding: 10px 0 10px 10px;
  font-size: 1rem;
  color: #fafaff;
  word-break: normal;
  letter-spacing: 1.3px;
  line-height: 2rem;
}
.intro p span {
  padding-top: 3rem;
  color: #fafaff;
  font-size: 1.5rem;
  font-family: "Jersey 20", serif;
}
.intro {
  padding: 15px 10px;
}

.intro a button {
  padding: 15px 20px;
  border-radius: 8px;
  font-weight: 700;
  color: #1d1d1d;
  margin: 20px 10px 0 0;
  letter-spacing: 1.5px;
  background-color: #c8facc;
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.intro a.resumebtn button {
  background-color: #aee4ff;
}

.intro a button:hover {
  background-color: #1d1d1d;
  color: #c8facc;
}
.intro a button i {
  margin-right: 10px;
}
hr {
  margin: 0 auto;
  width: 100px;
  border: 1px dashed #fafaff;
  padding-top: 20px;
  border-width: 3px 0 0 0;
}

/* ----------------------projects------------------ */
#project {
  padding: 20px 0 20px 0;
}
.projectheading h2 {
  font-family: "Notable", serif;
  text-align: center;
  letter-spacing: 2px;
  color: #aee4ff;
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 2rem 0 25px 0;
}
.projects {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  padding: 15px 0 30px 0;
  margin: 10px;
  border-radius: 8px;
}
.projects a {
  text-decoration: none;
}
.project1,
.project2,
.project3 {
  color: #fafaff;
  padding: 20px 10px;
  background-color: #fafaff;
  margin: 10px;
  width: 300px;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  transition: all 0.8s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
}
.project1:hover,
.project2:hover,
.project3:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 8px 30px rgba(0, 0, 0, 0.25);
  transform: translateY(-8px);
  border: 0.5px solid #262626;
}
@keyframes zoomEffect {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.project1:hover .imgs img,
.project2:hover .imgs img,
.project3:hover .imgs img {
  animation: zoomEffect 0.3s ease-in-out forwards;
}
.project1:hover .imgs,
.project2:hover .imgs,
.project3:hover .imgs {
  animation: rotatebackground 5s infinite ease-in-out;
}

.project1 .imgs,
.project2 .imgs,
.project3 .imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 150px;
  width: auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aee4ff;
  border-radius: 8px;
}
.project1 .imgs img,
.project2 .imgs img,
.project3 .imgs img {
  width: 280px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.project1 .content .title,
.project2 .content .title,
.project3 .content .title {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 20px;
  color: #ff8ba7;

  text-transform: uppercase;
}
.project1 .content .desc,
.project2 .content .desc,
.project3 .content .desc {
  font-family: "Caveat", serif;
  color: #8e8c8c;
  font-size: 22px;
  padding: 20px;
}

.aboutproject {
  color: #fafaff;
  padding: 2rem 3rem;
  font-size: 17px;
  margin: 0 auto;
  text-align: left;
}

.aboutproject p {
  line-height: 40px;
  color: #fafaff;
}

.aboutproject span {
  font-weight: 600;
  cursor: pointer;
  background-color: #aee4ff;
  color: #262626;
  padding: 5px 10px;
  border-radius: 12px;
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
  transition: all 0.5s ease;
}
.aboutproject span:hover {
  background-color: transparent;
  color: #c8facc;
}
/* Contact ----------------------------------- */

#contact {
  padding: 30px;
}
#contact .contactformlinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 25px;
}

#contact h2 {
  color: #aee4ff;
  font-size: 2.5rem;
  padding: 10px;
  margin-bottom: 15px;
}

#contact h2.saysomething {
  margin-top: 15px;
  font-family: "Caveat", serif;
  color: #fff2b2;
  text-align: center;
}

.linksnimages {
  text-align: left;
  width: 30%;
}
.linksnimages div {
  margin-top: 20px;
}

.linksnimages a {
  text-decoration: none;
  color: #fafaff;
  transition: all 0.5s ease;
}
.linksnimages a:hover {
  color: #f75f82;
}

.linksnimages a i {
  color: #f75f82;
  margin-right: 10px;
  transition: all 0.3s ease;
}

.linksnimages a:hover i {
  margin-right: 23px;
}
.formforcontact {
  text-align: center;
  width: 50%;
  padding: 10px;
}
.formforcontact form {
  background-color: #fafaff;
  border-radius: 8px;
  border: 2px dashed #fafaff;
  padding: 15px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.1);
}
.formforcontact form input,
textarea {
  background-color: #aee4ff;
  color: #1d1d1d;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border-width: 0 0 0 0;
  border-radius: 19px;
  resize: none;
  font-size: 15px;
}
.formforcontact form button {
  background-color: #f75f82;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px auto;
  border: none;
}

.formforcontact form button:hover {
  background-color: #262626;
  color: #fafaff;
}
form#contactForm button:active {
  background-color: #f75f82;
  color: #fafaff;
}
.formforcontact form button i {
  transition: all 0.3s ease;
}
.formforcontact form button:hover i {
  margin-left: 20px;
}
.formforcontact form input,
textarea,
.formforcontact form input::placeholder,
textarea::placeholder {
  font-family: "Caveat", serif;
  color: #262626;
  font-size: 18px;
}

/* footer------------------------------------- */
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #262626;
}

footer h3 {
  font-size: 20px;
  color: #aee4ff;
  font-family: "Caveat", serif;
  letter-spacing: 2px;
}
/* ---------------------------------- screen responsive resolution  */

@media only screen and (max-width: 578.98px) and (max-width: 991.98px) {
  #navbar .logo {
    padding-left: 1.5rem;
    width: 60%;
  }

  #menubar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: 1.5rem;
    cursor: pointer;
  }
  #navbar .navlinks {
    display: none;
  }

  #homecontainer {
    display: block;
  }
  .homeimg .homeimage {
    width: 60%;
  }
  .homeimg .homeimage img {
    height: 150px;
    width: 150px;
  }
  .intro {
    width: auto;
  }

  .intro p {
    padding-top: 1rem;
  }
  .aboutpage .projects {
    flex-direction: column;
  }
  .project1 .content p.title,
  .project2 .content p.title,
  .project3 .content p.title {
    font-size: 17px;
  }
  .project1 .imgs,
  .project2 .imgs,
  .project3 .imgs {
    height: 210px;
  }

  .project1 .imgs img,
  .project2 .imgs img,
  .project3 .imgs img {
    transform: scale(1.2);
  }
  .projectheading h2 {
    font-size: 2.5rem;
  }
  .projects a {
    text-decoration: none;
    margin: 0 auto;
  }
  #contact {
    padding: 25px 10px;
  }

  #contact .contactformlinks {
    flex-direction: column;
  }
  .linksnimages,
  .formforcontact {
    width: auto;
  }
  .formforcontact h2.saysomething {
    margin-top: 20px;
  }

  .aboutproject {
    padding: 2.5rem 1.5rem;
  }
  .aboutme {
    display: block;
  }
  #about .aboutmeinfo {
    padding: 20px 2rem;
  }
  .aboutmeimg {
    width: auto;
  }
  .aboutmeimg img {
    width: 250px;
    height: 250px;
  }
}

/* -------menubar slide responsiveness--------------- */

#menubar #lineone.slidedown {
  transform: rotate(40deg) translate(4.2px, 4.2px);
  width: 38px;
}
#menubar #linetwo.slideup {
  transform: rotate(-40deg) translate(4px, -4px);
  width: 38px;
}
#menubar #linethree.disappear {
  opacity: 0;
}
#menubar #lineone.change,
#menubar #linetwo.change,
#menubar #linethree.change {
  background-color: #ff8ba7;
  border: 1.5px solid #1d1d1d;
}

/* ------------------------------------------------------- */

/* navbar navlinks responsivenesss */

#navbar .navlinks.show {
  text-align: center;
  align-items: center;
  display: block;
  position: absolute;
  margin: 0 auto;
  top: 7rem;
  left: 38px;
  background-color: #262626;
  padding: 31px;
  border-radius: 10px;
  opacity: 1;
  transform: translateX(-15px);
  transition: opacity 0.5s ease, transform 1s ease;
  width: 85%;
  border: 2px solid #fafaff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
#navbar .navlinks.show a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto 15px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 10px 5px;
}

#navbar .navlinks.show a:hover {
  border: 1px solid #1d1d1d;
  background-color: #fafaff;
  color: #1d1d1d;
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
  border: none;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c8facc;
  border-radius: 10px;
  transition: background 0.3s ease;
  height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aee4ff;
}

#popup {
  background-color: #c8facc;
  color: #1d1d1d;
  margin: 0 auto;
  min-width: 280px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  padding: 30px;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 16px;
  font-family: "Caveat", serif;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#popup.show {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
#popup button:active {
  background-color: #1d1d1d;
}
#popup p {
  background-color: #fffafa;
  padding: 8px;
  border-radius: 5px;
}
#popup i {
  color: #262626;
}
#popup button {
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #f75f82;
  color: #fafaff;
  border: none;
  cursor: pointer;
  box-shadow: inset -3px -3px 6px rgba(0, 0, 0, 0.2),
    inset 3px 3px 6px rgba(255, 255, 255, 0.4);
}
